@import 'colors';
.nav {
    box-shadow: 0 0 1em gray;
    height: 100px;
    width:98%;
    left:1vw;
    top:1vw;
    position: absolute;
    background-color: $navColor;
    border-radius: 20px;
    display: flex;
        align-items: center;
    &__baner {
        font-family: 'VT323', monospace;
        color: white;
        font-size: 90px;
        margin-left:40px;
        margin-bottom: 5px;
    }
    &__user {
        position:absolute;
        right: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        border: 3px white solid;
        padding: 8px;
        &:hover {
            box-shadow: 0 0 2em white;
        }
        &-img {
            width: 45px;
            height: 45px;
            float: left;
            border-radius: 100px;
            margin-left: 5px;
            margin-right: 15px;
        }
        &-name {
            float: left;
            font-weight: 550;
            color:white;
            font-size: 1.5em;
            margin-right: 10px;
        }
        &-verticalLine {
            border-left: 3px solid white;
            height: 40px;
            margin-right: 15px;
          }
    }
}
.dropdown.active > .link,
.link:hover {
  color: black;
}


.dropdown-menu {
  position: absolute;
  height: 100%;
  width:150%;
  left: calc(-150% - 20px);
  top: -3px;
  background-color: rgb(214, 164, 214);;
  border-radius: 10px;
  border: 3px white solid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateX(20px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown.active > .dropdown-menu {
  opacity: 1;
  transform: translatex(calc(-30px));
  pointer-events: auto;
}

.moreInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  color:white;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  &__block{
      flex-basis: 33%;
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: 600;
  }
}